<main id="main" class="main">
  <div class="pagetitle">
    <h1>Utilisateur / {{user?.firstName}} {{user.lastName}}</h1>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">{{user.email}}</li>
              <li class="list-group-item">{{user.role}}</li>
              <li class="list-group-item"> Status
                <span  [hidden]="!user.active" class="badge bg-success"><i class="bi bi-check me-1"></i> Active</span>
                <span  [hidden]="user.active" class="badge bg-danger"><i class="bi bi- me-1"></i> Inactive</span>
                &nbsp;
              </li>
              <li class="list-group-item">
                <button mat-raised-button>Permissions</button>
              </li>
              <br>
              <ul>
                <mat-chip-list>
                  <mat-chip  *ngFor="let p of permissions">{{p}}</mat-chip>
                </mat-chip-list>

              </ul>
              <li class="list-group-item"> Joined <span class="badge bg-dark">{{user.joinDate |date}}</span></li>
              <li class="list-group-item"> Last Login <span class="badge bg-warning">{{user.lastLoginDateDisplay}}</span></li>
              <li class="list-group-item"> Locked/Unlocked
                <span  [hidden]="!user.notLocked" class="badge bg-success"><i class="bi bi-unlock me-1"></i> </span>
                <span  [hidden]="user.notLocked" class="badge bg-danger"><i class="bi bi-lock me-1"></i> </span>
              </li>
            </ul>


          </div>
        </div>
      </div>
    </div>
  </section>
</main>
