<main id="main" class="main">
  <div class="pagetitle">
    <h1>Beneficiare</h1>
    <nav>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Information du beneficiation</h5>
            <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
              <li class="nav-item" role="presentation"> <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">Info</button></li>
              <li class="nav-item" role="presentation"> <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Dossier(s)</button></li>
            </ul>
            <div class="tab-content pt-2" id="borderedTabContent">
              <div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="card-body">

                        <br/>
                        <form class="row g-3 needs-validation">

                          <div class="row mb-3">
                            <label  class="col-sm-2 col-form-label">Code</label>
                            <div class="col-sm-10">
                              <input disabled name="code" ngModel="{{beneficiare?.code}}"  #code="ngModel"  type="text" class="form-control">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label  class="col-sm-2 col-form-label">Nom</label>
                            <div class="col-sm-10">
                              <input disabled name="nom" ngModel="{{beneficiare?.nom}}"  #nom="ngModel"  type="text" class="form-control">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label  class="col-sm-2 col-form-label">Prenom</label>
                            <div class="col-sm-10"> <input disabled required name="prenom" ngModel="{{beneficiare?.prenom}}" type="text" class="form-control"></div>
                          </div>
                          <div class="row mb-3">
                            <label  class="col-sm-2 col-form-label">Telephone</label>
                            <div class="col-sm-10"> <input disabled required name="telephone"  ngModel="{{beneficiare?.telephone}}" type="text" class="form-control"></div>
                          </div>
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Sexe</label>
                            <div class="col-sm-10">
                              <select name="sexe" disabled required ngModel="{{beneficiare?.sexe}}" class="form-select" aria-label="Default select example">
                                <option value="M">M</option>
                                <option value="F">F</option>
                              </select>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label  class="col-sm-2 col-form-label">Adresse</label>
                            <div class="col-sm-10"> <input disabled required name="adresse" ngModel="{{beneficiare?.adresse}}" type="text" class="form-control"></div>
                          </div>

                          <div class="row mb-3">
                            <label  class="col-sm-2 col-form-label">Date de naissance</label>
                            <div class="col-sm-10"> <input disabled required name="dateNaissance" ngModel="{{beneficiare?.dateNaissance}}" type="text" class="form-control"></div>
                          </div>

                          <div class="row mb-3">
                            <label  class="col-sm-2 col-form-label">Niveau d'Etude</label>
                            <div class="col-sm-10"> <input disabled required name="niveauEtude" ngModel="{{beneficiare?.niveauEtude}}" type="text" class="form-control"></div>
                          </div>

                          <div class="row mb-3">
                            <label  class="col-sm-2 col-form-label">Date d'integration</label>
                            <div class="col-sm-10"> <input disabled required name="dateIntegration" ngModel="{{beneficiare?.dateIntegration}}" type="text" class="form-control"></div>
                          </div>

                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Status</label>
                            <div class="col-sm-10">
                              <select name="status" disabled required ngModel="{{beneficiare?.status}}" class="form-select" aria-label="Default select example">
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                              </select>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Type</label>
                            <div class="col-sm-10">
                              <select name="type" disabled required ngModel="{{beneficiare?.type}}" class="form-select" aria-label="Default select example">
                                <option value="n/a">N/A</option>
                                <option value="n/a">N/A</option>
                              </select>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label  class="col-sm-2 col-form-label">Personne Responsable</label>
                            <div class="col-sm-10"> <input disabled required name="nomPersonneReponse"  ngModel="{{beneficiare?.nomPersonneReponse}}" type="text" class="form-control"></div>
                          </div>

                          <div class="row mb-3">
                            <label  class="col-sm-2 col-form-label">Son Telephone</label>
                            <div class="col-sm-10"> <input disabled required name="phonePersonneResponsable" ngModel="{{beneficiare?.phonePersonneResponsable}}" type="text" class="form-control"></div>
                          </div>

                          <div class="row mb-3">
                            <label  class="col-sm-2 col-form-label">Phone</label>
                            <div class="col-sm-10">
                             <img style="width: 70px" src="{{beneficiare.imageUrl}}" alt="photo">
                            </div>
                          </div>


                          <div class="row mb-3">
                            <label  class="col-sm-2 col-form-label">Photo</label>
                            <div class="col-sm-10">
                              <textarea disabled required name="commentaire" ngModel="{{beneficiare?.commentaire}}" type="text" class="form-control"></textarea>
                              <br>
                              <button (click)="openEdit(beneficiare.id)" color="accent" mat-raised-button> Voulez-vous faire des modification ? </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!--              Dossier  tab-->
              <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">

               <table class="table">
                 <tr>
                   <th>ID</th>
                   <th>Titre</th>
                   <th>Description</th>
                   <th>Fichier</th>
                 </tr>
                 <tr>
                   <td>1</td>
                   <td>Paiment Scolaire</td>
                   <td>Un paiment pour son scolarite</td>
                   <td><a>attachment</a></td>
                 </tr>
               </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</main>
