<main id="main" class="main">
  <div class="pagetitle">
    <h1>Utilisateurs</h1>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
          <br>
            <input class="form-control" type="text" [(ngModel)]="filterText" (keyup)="filterUsers()" placeholder="rechercher utilisateur">
            <br>
            <table class="table">
              <thead>
              <tr>
                <th >Photo</th>

                <th >Nom</th>
                <th>Prenom</th>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
                <th  colspan="2">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of filteredUsers">

                <th scope="row">  <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"> <img style="width: 20px" src="{{user?.profileImageUrl}}" alt="Profile" class="rounded-circle"> </a>
                </th>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>
                  <span  [hidden]="!user.active" class="badge bg-success"><i class="bi bi-check me-1"></i> Active</span>
                  <span  [hidden]="user.active" class="badge bg-danger"><i class="bi bi- me-1"></i> Inactive</span>
                  &nbsp;
                  <span  [hidden]="!user.notLocked" class="badge bg-success"><i class="bi bi-unlock me-1"></i> </span>
                  <span  [hidden]="user.notLocked" class="badge bg-danger"><i class="bi bi-lock me-1"></i> </span>

                </td>
                <td>
                  <button (click)="edit(user.username)"  class="btn btn-info"><i class="text-white-50 bi bi-file-earmark-text-fill"></i></button>&nbsp;
                  <button  (click)="view(user.username)" class="btn btn-success"><i class="bi bi-eye"></i></button>
                </td>
              </tr>
              <tr>

              </tbody>
            </table>
            <div class="pagination float-end">
              <button mat-raised-button [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">&#9197;</button>
              <li class="page-item"><a class="page-link" >{{ currentPage }} / {{ pageSize }}</a></li>
              <button  mat-raised-button [disabled]="currentPage === pageSize" (click)="goToPage(currentPage + 1)">&#10140;</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

